# name: Build and Push Docker Image

# on:
#   push:
#     branches: [main]

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v6

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build and Push
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: true
#           tags: |
#             fovrgt/nest-demo:latest
#             fovrgt/nest-demo:${{ github.ref_name }}-${{ github.sha }}
#             fovrgt/nest-demo:${{ github.run_number }}
#           # 构建时传入环境变量
#           build-args: |
#             DATABASE_URL=${{ secrets.DATABASE_URL }}
